<h1>Edit Photo</h1>
<div class="edit">
<form method ="GET" action="/gallery/{{id}}?_method=PUT" >
  <p><label>Title: <input type="text" name="title" value="{{title}}"></label></p>
  <p><label>Author: <input type="text" name="author" value="{{author}}"></label></p>
  <p><label>URL: <input type="text" name="link" value="{{link}}"></label></p>
  <p><label>Description: <input type="text" name="description" value="{{description}}"></label></p>
  <button type="submit">Submit Changes</button>
  </form>
</div>