<div class="gallery">
  <div class="photoContainer">
    <div class="image">
      <img src='{{photo.link}}' alt='img'>
      <div class="overlay">
        <form action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value={{photo.id}}>
          <button type="submit">Remove</button>
        </form>
        <a href="/gallery/{{photo.id}}/edit"><button type="button">Edit</button></a>
      </div>
    </div>
    <div class="text">
      <p>Author: {{photo.author.author}}</p>
      <p>Description: {{photo.description}}</p>
    </div>
  </div>
</div>