<div class="galleryDetail">
  <div class="photoContainer">
    {{#each mainPhoto}}
    <div class="image">
      <img src='{{link}}' alt='img'>
      <div class="overlay">
      {{!-- {{#if isOp}} --}}
        <form action="/gallery/{{id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value={{id}}>
          <button type="submit">Remove</button>
        </form>
        <a href="/gallery/{{id}}/edit"><button type="button">Edit</button></a>
      {{!-- {{/if}} --}}
      </div>
    </div>
    <div class="text">
      <p>Author: {{author}}</p>
      <p>Description: {{description}}</p>
    </div>
    {{/each}}
  </div>
  <div class="otherPhotos">
    {{#each otherPhotos}}
    <div class="image"><img src='{{link}}' alt='img'></div>
    <div class="text"><p>Author: {{author}}</p></div>
    {{!-- need to add shortened link later --}}
    {{/each}}
  </div>
</div>